* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	margin: 20px;
	background-color: #2f2f2f;
	font-family: Arial, Helvetica, sans-serif;
	color: #eef2f3;
}

.main-title {
	font-size: 5rem;
	color: #b39573;
}

#gallery {
	display: grid;
	max-width: 1900px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
	grid-gap: 40px;
	grid-auto-rows: minmax(250px, auto);
	justify-content: center;
}

.image {
	max-width: 450px;
	min-width: 200px;
	border-radius: 5px;
}

.img-container {
	animation: fadeIn 1s ease-in;
}

.title {
	max-width: 60%;
	border-top-right-radius: 1.5rem;
	font-size: 2rem;
	padding: 10px;
	opacity: 0;
}

.sub-button {
	display: inline;
	text-align: center;
	border-radius: 1.5rem;
	border: 1px solid #fff;
	background-color: #4b4b4b;
	font-size: 2rem;
	padding: 10px;
	opacity: 0;
}

.exif {
	width: 4.5rem;
}

.full-size {
	width: 5rem;
}

.sub-button:hover {
	cursor: pointer;
}

.img-container:hover .title {
	opacity: 1;
	transition: opacity 1s ease-in;
	background-color: #7c7c7c83;
}

.img-container:hover .sub-button {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.btn {
	text-align: center;
	width: 10rem;
	border-radius: 1.5rem;
	background-color: #4b4b4b;
	font-size: 2rem;
	padding: 20px;
	margin: 20px;
	border: 1px solid #fff;
	transition: all .3s;
	opacity: .2;
}

.btn:hover {
	cursor: pointer;
	background-color: #7c7c7c;
	opacity: 1;
}

.btn-next {
	position: fixed;
	right: 1rem;
	bottom: 2rem;
	/* float: right; */
}

.btn-previous {
	position: fixed;
	left: 1rem;
	bottom: 2rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
