* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #2f2f2f;
	font-family: 'Lato', sans-serif;
	color: #eef2f3;
}

nav {
	color: #eef2f3;
	padding: 20px;
	background-color: #141111;
}

.main-title {
	font-size: 5rem;
	color: #4f4038;
}

label {
	float: left;
	font-size: 2rem;
}

select {
	font-size: 2rem;
	color: #eef2f3;
	background-color: #141111;
	margin-left: 10px;
	border: 0px;
}

select:focus {
	outline: none;
}

.info-icon {
	float: right;
	font-size: 3.5rem;
	transform: translateY(-45px);
	padding-right: 10px;
}

#gallery {
	margin: 10px;
	display: grid;
	max-width: 1900px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
	grid-gap: 30px;
	grid-auto-rows: minmax(250px, auto);
	justify-content: center;
	align-items: center;
}

.image {
	border: 1px solid rgba(255, 255, 255, 0.527);
	max-width: 100%;
	border-radius: 5px;
	transition: all .5s;
}

.img-container {
	animation: fadeIn 1s ease-in;
}

.title {
	max-width: 60%;
	border-top-right-radius: 1.5rem;
	font-size: 2rem;
	padding: 10px;
	opacity: 0;
}

.sub-button {
	display: inline;
	text-align: center;
	background-color: #4b4b4bc0;
	font-size: 2rem;
	padding: 10px;
	opacity: 0;
	transition: all .2s;
}

.exif {
	border-bottom-left-radius: 1.5rem;
	width: 4.5rem;
}

.full-size {
	border-bottom-right-radius: 1.5rem;
	margin-left: 5px;
	width: 5rem;
}

.sub-button:hover {
	cursor: pointer;
	background-color: #4b4b4b;
}

.img-container:hover .title {
	opacity: 1;
	transition: opacity 1s ease-in;
	background-color: #4b4b4bc0;
}

.img-container:hover .sub-button {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.btn {
	text-align: center;
	width: 2rem;
	background-color: #4b4b4b;
	font-size: 3rem;
	font-weight: 100;
	padding: 15px;
	margin: 20px;
	/* border: 1px solid #fff; */
	transition: all .2s;
	opacity: .2;
}

.btn:hover {
	cursor: pointer;
	background-color: #7c7c7c;
	transform: scale(1.1);
	opacity: 1;
}

.btn-next {
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	position: fixed;
	right: -2rem;
	top: 50vh;
}

.btn-previous {
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	position: fixed;
	left: -2rem;
	top: 50vh;
}

footer {
	height: 100px;
	background-color: grey;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
